* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-block-size: 25em;
    margin: 1%;
}

body {
    position: relative;
}

#navbar {
    display: flex;
    position: sticky;
    top: 0;
    background-color: aqua;
    padding-right: 1em;
}

#navbar>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 35%;
    flex-grow: 1;
}

#navbar>ul>li {
    list-style: none;
    padding: 1%;
    margin: 0.75em;
}

#navbar>ul>li>a {
    font-size: 1.5em;
    color: aqua;
    text-decoration-line: none;
    border: 2px solid blue;
    border-radius: 50%;
    padding: 0.5em;
    margin: 0.5em;
    background-color: blue;
}

#navbar>ul>li>a:hover {
    color: blue;
    background-color: aqua;
}

#navbar>img {
    max-block-size: 5em;
    margin: 0;
}

#blogname {
    background-color: darkred;
    padding: 0.5em;
    font-size: 4em;
    text-align: center;
    color: rgb(0, 220, 255);
}

main {
    display: flex;
}

.sponsors {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    border: 0.5px solid;
}

.sponsors>h4 {
    flex-basis: 4%;
}

.single_sponsor {
    flex-basis: 32%;
    border: 0.25px solid;
}

.posts {
    flex-basis: 75%;
    background-color: brown;
}



#archive {
    overflow: scroll;
}

.posts h2 {
    padding: 2%;
    font-size: 2em;
}

#posts h2 {
    color: lightsalmon;
}

.single_post {
    background-color: dodgerblue;
    border: 0.5px solid;
    padding: 1%;
    margin: 1%;
}

.single_post h3 {
    font-size: 1.75em;

}

.single_post p {
    font-size: 1.5em;
    padding: 1%;
}

footer {
    background-color: cadetblue;
    padding: 0.5%;
}